.socials {
  display: flex;

  &--black {

    .socials__item--google {
      background: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M11.5458 4.95727L6.6511 4.95703C6.43496 4.95703 6.25977 5.1322 6.25977 5.34834V6.91198C6.25977 7.12807 6.43496 7.30329 6.65108 7.30329H9.40746C9.10564 8.08659 8.54229 8.74259 7.82356 9.1594L8.99888 11.194C10.8842 10.1036 11.9989 8.19042 11.9989 6.04875C11.9989 5.7438 11.9764 5.52581 11.9314 5.28035C11.8973 5.09386 11.7354 4.95727 11.5458 4.95727Z' fill='%234a8a99'/%3E%3Cpath d='M6.00013 9.65185C4.65121 9.65185 3.47362 8.91484 2.84116 7.82422L0.806641 8.99689C1.84199 10.7913 3.78154 11.9997 6.00013 11.9997C7.0885 11.9997 8.11546 11.7066 9.00013 11.196V11.1932L7.82481 9.15856C7.2872 9.47037 6.66508 9.65185 6.00013 9.65185Z' fill='%234a8a99'/%3E%3Cpath d='M9 11.1976V11.1948L7.82468 9.16016C7.28707 9.47195 6.66499 9.65345 6 9.65345V12.0013C7.08837 12.0013 8.11538 11.7082 9 11.1976Z' fill='%234a8a99'/%3E%3Cpath d='M2.34783 6.00112C2.34783 5.33622 2.52928 4.71416 2.84102 4.17658L0.806508 3.00391C0.293016 3.88579 0 4.90996 0 6.00112C0 7.09227 0.293016 8.11644 0.806508 8.99832L2.84102 7.82565C2.52928 7.28807 2.34783 6.66601 2.34783 6.00112Z' fill='%234a8a99'/%3E%3Cpath d='M6.00013 2.34783C6.87977 2.34783 7.68775 2.66039 8.31885 3.1803C8.47455 3.30855 8.70084 3.2993 8.84345 3.15668L9.95134 2.04879C10.1132 1.88698 10.1016 1.62211 9.92877 1.47216C8.87139 0.554836 7.49561 0 6.00013 0C3.78154 0 1.84199 1.20837 0.806641 3.00279L2.84116 4.17546C3.47362 3.08484 4.65121 2.34783 6.00013 2.34783Z' fill='%234a8a99'/%3E%3Cpath d='M8.31872 3.1803C8.47442 3.30855 8.70073 3.2993 8.84332 3.15668L9.95121 2.04879C10.113 1.88698 10.1015 1.62211 9.92864 1.47216C8.87126 0.554813 7.49548 0 6 0V2.34783C6.87961 2.34783 7.68762 2.66039 8.31872 3.1803Z' fill='%234a8a99'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='12' height='12' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A")
        center no-repeat;
      background-size: scaleVW(12, 1920) auto;

      @include media-breakpoint-down(lg) {
        background-size: 12px auto;
      }
    }
  }

  &__item {
    margin-right: scaleVW(8, 1920);
    width: scaleVW(40, 1920);
    height: scaleVW(40, 1920);
    border: 1px solid rgba(#fff, .4);
    border-radius: 50%;

    position: relative;

    @include transition;

    @include media-breakpoint-down(lg) {
      margin-right: 8px;
      width: 40px;
      height: 40px;
    }

    .likely__icon {
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      
      opacity: 0;
      cursor: pointer;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      border: 1px solid rgba(#fff, .8);
    }

    &--ig-white {
      background: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 1H4C2.34315 1 1 2.34315 1 4V10C1 11.6569 2.34315 13 4 13H10C11.6569 13 13 11.6569 13 10V4C13 2.34315 11.6569 1 10 1Z' stroke='white' stroke-width='1.6' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M9.401 6.62218C9.47504 7.12153 9.38975 7.63151 9.15725 8.07959C8.92475 8.52767 8.55688 8.89103 8.10597 9.11799C7.65506 9.34494 7.14406 9.42394 6.64567 9.34374C6.14727 9.26354 5.68685 9.02823 5.3299 8.67128C4.97295 8.31432 4.73764 7.85391 4.65744 7.35551C4.57724 6.85711 4.65624 6.34612 4.88319 5.89521C5.11015 5.44429 5.47351 5.07643 5.92159 4.84393C6.36967 4.61143 6.87965 4.52613 7.379 4.60018C7.88835 4.67571 8.35991 4.91306 8.72401 5.27716C9.08812 5.64127 9.32547 6.11283 9.401 6.62218Z' stroke='white' stroke-width='1.6' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A")
        center no-repeat;
      background-size: scaleVW(14, 1920) auto;

      @include media-breakpoint-down(lg) {
        background-size: 14px auto;
      }
    }

    &--ig {
      background: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 1H4C2.34315 1 1 2.34315 1 4V10C1 11.6569 2.34315 13 4 13H10C11.6569 13 13 11.6569 13 10V4C13 2.34315 11.6569 1 10 1Z' stroke='black' stroke-width='1.6' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M9.401 6.62218C9.47504 7.12153 9.38975 7.63151 9.15725 8.07959C8.92475 8.52767 8.55688 8.89103 8.10597 9.11799C7.65506 9.34494 7.14406 9.42394 6.64567 9.34374C6.14727 9.26354 5.68685 9.02823 5.3299 8.67128C4.97295 8.31432 4.73764 7.85391 4.65744 7.35551C4.57724 6.85711 4.65624 6.34612 4.88319 5.89521C5.11015 5.44429 5.47351 5.07643 5.92159 4.84393C6.36967 4.61143 6.87965 4.52613 7.379 4.60018C7.88835 4.67571 8.35991 4.91306 8.72401 5.27716C9.08812 5.64127 9.32547 6.11283 9.401 6.62218Z' stroke='black' stroke-width='1.6' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A")
        center no-repeat;
      background-size: scaleVW(14, 1920) auto;

      @include media-breakpoint-down(lg) {
        background-size: 14px auto;
      }
    }

    &--vk-white {
      background: url("data:image/svg+xml,%3Csvg width='17' height='10' viewBox='0 0 17 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.6309 6.35846C15.1948 6.93074 15.79 7.46917 16.2958 8.09917C16.5192 8.37912 16.7307 8.66802 16.8925 8.99292C17.1218 9.45477 16.9142 9.96302 16.5157 9.9906L14.0391 9.98944C13.4004 10.0445 12.8908 9.77723 12.4624 9.32327C12.1195 8.96023 11.8019 8.57385 11.4722 8.19856C11.337 8.04517 11.1956 7.90084 11.0265 7.78675C10.6885 7.55864 10.395 7.62849 10.2018 7.99501C10.005 8.3678 9.96039 8.7806 9.94106 9.19607C9.91453 9.80226 9.73826 9.96163 9.15245 9.98938C7.90052 10.0507 6.71237 9.85387 5.60862 9.1974C4.63552 8.61867 3.88092 7.80167 3.22412 6.87674C1.94532 5.07571 0.966018 3.09667 0.0858558 1.06218C-0.112262 0.603809 0.032626 0.357757 0.519178 0.349048C1.32712 0.332734 2.13495 0.333895 2.94384 0.347887C3.27221 0.35288 3.4896 0.548653 3.61639 0.87111C4.05351 1.98833 4.58838 3.05127 5.25975 4.03652C5.43854 4.29883 5.62085 4.56114 5.88047 4.74576C6.16767 4.95019 6.38635 4.88243 6.52146 4.54987C6.6072 4.33901 6.64473 4.11188 6.66406 3.88603C6.72807 3.10903 6.7365 2.33337 6.62423 1.5591C6.55531 1.07588 6.29346 0.763063 5.82958 0.671621C5.59287 0.625 5.62812 0.533442 5.74273 0.392999C5.9418 0.150778 6.12902 0 6.50225 0H9.30119C9.74183 0.0903971 9.83969 0.296157 9.90001 0.757025L9.90241 3.98874C9.89761 4.16715 9.98815 4.69659 10.2973 4.81468C10.5447 4.89875 10.7078 4.69299 10.8563 4.5299C11.5265 3.79058 12.0047 2.91686 12.432 2.01213C12.6217 1.61432 12.7847 1.20117 12.9427 0.788377C13.0598 0.48206 13.2435 0.33134 13.5754 0.338017L16.2693 0.340513C16.3491 0.340513 16.43 0.341733 16.5073 0.355493C16.9612 0.435904 17.0856 0.638876 16.9454 1.09963C16.7245 1.82252 16.2947 2.42493 15.8745 3.03013C15.4252 3.67627 14.9448 4.30028 14.4993 4.95025C14.09 5.54378 14.1225 5.84295 14.6309 6.35846Z' fill='white'/%3E%3C/svg%3E")
        center no-repeat;
      background-size: scaleVW(17, 1920) auto;

      @include media-breakpoint-down(lg) {
        background-size: 17px auto;
      }
    }

    &--vk {
      background: url("data:image/svg+xml,%3Csvg width='17' height='10' viewBox='0 0 17 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.6309 6.35846C15.1948 6.93074 15.79 7.46917 16.2958 8.09917C16.5192 8.37912 16.7307 8.66802 16.8925 8.99292C17.1218 9.45477 16.9142 9.96302 16.5157 9.9906L14.0391 9.98944C13.4004 10.0445 12.8908 9.77723 12.4624 9.32327C12.1195 8.96023 11.8019 8.57385 11.4722 8.19856C11.337 8.04517 11.1956 7.90084 11.0265 7.78675C10.6885 7.55864 10.395 7.62849 10.2018 7.99501C10.005 8.3678 9.96039 8.7806 9.94106 9.19607C9.91453 9.80226 9.73826 9.96163 9.15245 9.98938C7.90052 10.0507 6.71237 9.85387 5.60862 9.1974C4.63552 8.61867 3.88092 7.80167 3.22412 6.87674C1.94532 5.07571 0.966018 3.09667 0.0858558 1.06218C-0.112262 0.603809 0.032626 0.357757 0.519178 0.349048C1.32712 0.332734 2.13495 0.333895 2.94384 0.347887C3.27221 0.35288 3.4896 0.548653 3.61639 0.87111C4.05351 1.98833 4.58838 3.05127 5.25975 4.03652C5.43854 4.29883 5.62085 4.56114 5.88047 4.74576C6.16767 4.95019 6.38635 4.88243 6.52146 4.54987C6.6072 4.33901 6.64473 4.11188 6.66406 3.88603C6.72807 3.10903 6.7365 2.33337 6.62423 1.5591C6.55531 1.07588 6.29346 0.763063 5.82958 0.671621C5.59287 0.625 5.62812 0.533442 5.74273 0.392999C5.9418 0.150778 6.12902 0 6.50225 0H9.30119C9.74183 0.0903971 9.83969 0.296157 9.90001 0.757025L9.90241 3.98874C9.89761 4.16715 9.98815 4.69659 10.2973 4.81468C10.5447 4.89875 10.7078 4.69299 10.8563 4.5299C11.5265 3.79058 12.0047 2.91686 12.432 2.01213C12.6217 1.61432 12.7847 1.20117 12.9427 0.788377C13.0598 0.48206 13.2435 0.33134 13.5754 0.338017L16.2693 0.340513C16.3491 0.340513 16.43 0.341733 16.5073 0.355493C16.9612 0.435904 17.0856 0.638876 16.9454 1.09963C16.7245 1.82252 16.2947 2.42493 15.8745 3.03013C15.4252 3.67627 14.9448 4.30028 14.4993 4.95025C14.09 5.54378 14.1225 5.84295 14.6309 6.35846Z' fill='%234a8a99'/%3E%3C/svg%3E%0A")
        center no-repeat;
      background-size: scaleVW(17, 1920) auto;

      @include media-breakpoint-down(lg) {
        background-size: 17px auto;
      }
    }

    &--fb-white {
      background: url("data:image/svg+xml,%3Csvg width='7' height='15' viewBox='0 0 7 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.67884 15H1.87228V7.5H0V4.91528L1.87228 4.91443L1.86924 3.3917C1.86924 1.28303 2.4402 0 4.92048 0H6.98549V2.58521H5.69493C4.72907 2.58521 4.68261 2.94639 4.68261 3.62063L4.67878 4.91443H7L6.72635 7.49915L4.68071 7.5L4.67884 15Z' fill='white'/%3E%3C/svg%3E")
        center no-repeat;
      background-size: scaleVW(7, 1920) auto;

      @include media-breakpoint-down(lg) {
        background-size: 7px auto;
      }
    }

    &--fb {
      background: url("data:image/svg+xml,%3Csvg width='7' height='15' viewBox='0 0 7 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.67884 15H1.87228V7.5H0V4.91528L1.87228 4.91443L1.86924 3.3917C1.86924 1.28303 2.4402 0 4.92048 0H6.98549V2.58521H5.69493C4.72907 2.58521 4.68261 2.94639 4.68261 3.62063L4.67878 4.91443H7L6.72635 7.49915L4.68071 7.5L4.67884 15Z' fill='%234a8a99'/%3E%3C/svg%3E%0A")
        center no-repeat;
      background-size: scaleVW(7, 1920) auto;

      @include media-breakpoint-down(lg) {
        background-size: 7px auto;
      }
    }

    &--yt {
      background: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.0264 4.2813C14.9472 3.96491 14.7859 3.67502 14.5588 3.44091C14.3317 3.2068 14.0469 3.03676 13.7331 2.94797C12.5864 2.66797 7.99973 2.66797 7.99973 2.66797C7.99973 2.66797 3.41306 2.66797 2.2664 2.97464C1.95256 3.06343 1.66771 3.23346 1.44063 3.46757C1.21354 3.70168 1.05226 3.99158 0.973063 4.30797C0.763206 5.47167 0.660554 6.65217 0.666397 7.83464C0.658916 9.026 0.761575 10.2155 0.973063 11.388C1.06037 11.6945 1.22527 11.9734 1.45183 12.1976C1.67838 12.4218 1.95894 12.5838 2.2664 12.668C3.41306 12.9746 7.99973 12.9746 7.99973 12.9746C7.99973 12.9746 12.5864 12.9746 13.7331 12.668C14.0469 12.5792 14.3317 12.4091 14.5588 12.175C14.7859 11.9409 14.9472 11.651 15.0264 11.3346C15.2346 10.1797 15.3373 9.00819 15.3331 7.83464C15.3405 6.64327 15.2379 5.45377 15.0264 4.2813Z' fill='white'/%3E%3Cpath d='M6.5 10.0123L10.3333 7.83234L6.5 5.65234V10.0123Z' fill='black'/%3E%3C/svg%3E%0A")
        center no-repeat;
      background-size: scaleVW(16, 1920) auto;

      @include media-breakpoint-down(lg) {
        background-size: 16px auto;
      }
    }

    &--link {
      background: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.66602 8.66599C6.95232 9.04874 7.31759 9.36545 7.73705 9.59462C8.15651 9.82379 8.62035 9.96007 9.09712 9.99421C9.57388 10.0284 10.0524 9.95957 10.5002 9.79251C10.9481 9.62546 11.3548 9.36404 11.6927 9.02599L13.6927 7.02599C14.2999 6.39732 14.6359 5.55531 14.6283 4.68132C14.6207 3.80733 14.2701 2.97129 13.6521 2.35326C13.0341 1.73524 12.198 1.38467 11.324 1.37708C10.45 1.36948 9.60802 1.70547 8.97935 2.31266L7.83268 3.45266' stroke='black' stroke-width='1.6' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M9.33347 7.33283C9.04716 6.95008 8.68189 6.63338 8.26243 6.40421C7.84297 6.17503 7.37913 6.03875 6.90237 6.00461C6.4256 5.97047 5.94707 6.03925 5.49924 6.20631C5.0514 6.37337 4.64472 6.63479 4.3068 6.97283L2.3068 8.97283C1.69961 9.60151 1.36363 10.4435 1.37122 11.3175C1.37881 12.1915 1.72938 13.0275 2.3474 13.6456C2.96543 14.2636 3.80147 14.6142 4.67546 14.6217C5.54945 14.6293 6.39146 14.2934 7.02013 13.6862L8.16013 12.5462' stroke='black' stroke-width='1.6' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E")
        center no-repeat;
      background-size: scaleVW(16, 1920) auto;

      @include media-breakpoint-down(lg) {
        background-size: 16px auto;
      }
    }

    &--email {
      background: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.66732 2.66602H13.334C14.0673 2.66602 14.6673 3.26602 14.6673 3.99935V11.9993C14.6673 12.7327 14.0673 13.3327 13.334 13.3327H2.66732C1.93398 13.3327 1.33398 12.7327 1.33398 11.9993V3.99935C1.33398 3.26602 1.93398 2.66602 2.66732 2.66602Z' stroke='black' stroke-width='1.6' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M14.6673 4L8.00065 8.66667L1.33398 4' stroke='black' stroke-width='1.6' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A")
        center no-repeat;
      background-size: scaleVW(16, 1920) auto;

      @include media-breakpoint-down(lg) {
        background-size: 16px auto;
      }
    }

    &--ok {
      background: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M3.14732 8.58804C2.73865 9.39137 3.20265 9.77537 4.26132 10.4314C5.16132 10.9874 6.40465 11.1907 7.20332 11.272C6.87598 11.5867 8.37598 10.144 4.05598 14.2994C3.13998 15.1774 4.61465 16.586 5.52998 15.7267L8.00798 13.3367C8.95665 14.2494 9.86598 15.124 10.486 15.73C11.402 16.5927 12.876 15.196 11.97 14.3027C11.902 14.238 8.61198 11.082 8.81265 11.2754C9.62132 11.194 10.846 10.9787 11.7353 10.4347L11.7347 10.434C12.7933 9.77471 13.2573 9.39137 12.8547 8.58804C12.6113 8.13204 11.9553 7.75071 11.082 8.41004C11.082 8.41004 9.90265 9.31337 8.00065 9.31337C6.09798 9.31337 4.91932 8.41004 4.91932 8.41004C4.04665 7.74738 3.38798 8.13204 3.14732 8.58804Z' fill='%234a8a99'/%3E%3Cpath d='M7.99978 8.09467C10.3184 8.09467 12.2118 6.28267 12.2118 4.052C12.2118 1.812 10.3184 0 7.99978 0C5.68044 0 3.78711 1.812 3.78711 4.052C3.78711 6.28267 5.68044 8.09467 7.99978 8.09467ZM7.99978 2.05267C9.13911 2.05267 10.0684 2.94667 10.0684 4.052C10.0684 5.148 9.13911 6.042 7.99978 6.042C6.86044 6.042 5.93111 5.148 5.93111 4.052C5.93044 2.946 6.85978 2.05267 7.99978 2.05267Z' fill='%234a8a99'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E")
        center no-repeat;
      background-size: scaleVW(16, 1920) auto;

      @include media-breakpoint-down(lg) {
        background-size: 16px auto;
      }
    }

    &--google-white {
      background: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M11.5458 4.95727L6.6511 4.95703C6.43496 4.95703 6.25977 5.1322 6.25977 5.34834V6.91198C6.25977 7.12807 6.43496 7.30329 6.65108 7.30329H9.40746C9.10564 8.08659 8.54229 8.74259 7.82356 9.1594L8.99888 11.194C10.8842 10.1036 11.9989 8.19042 11.9989 6.04875C11.9989 5.7438 11.9764 5.52581 11.9314 5.28035C11.8973 5.09386 11.7354 4.95727 11.5458 4.95727Z' fill='white'/%3E%3Cpath d='M6.00013 9.65185C4.65121 9.65185 3.47362 8.91484 2.84116 7.82422L0.806641 8.99689C1.84199 10.7913 3.78154 11.9997 6.00013 11.9997C7.0885 11.9997 8.11546 11.7066 9.00013 11.196V11.1932L7.82481 9.15856C7.2872 9.47037 6.66508 9.65185 6.00013 9.65185Z' fill='white'/%3E%3Cpath d='M9 11.1976V11.1948L7.82468 9.16016C7.28707 9.47195 6.66499 9.65345 6 9.65345V12.0013C7.08837 12.0013 8.11538 11.7082 9 11.1976Z' fill='white'/%3E%3Cpath d='M2.34783 6.00112C2.34783 5.33622 2.52928 4.71416 2.84102 4.17658L0.806508 3.00391C0.293016 3.88579 0 4.90996 0 6.00112C0 7.09227 0.293016 8.11644 0.806508 8.99832L2.84102 7.82565C2.52928 7.28807 2.34783 6.66601 2.34783 6.00112Z' fill='white'/%3E%3Cpath d='M6.00013 2.34783C6.87977 2.34783 7.68775 2.66039 8.31885 3.1803C8.47455 3.30855 8.70084 3.2993 8.84345 3.15668L9.95134 2.04879C10.1132 1.88698 10.1016 1.62211 9.92877 1.47216C8.87139 0.554836 7.49561 0 6.00013 0C3.78154 0 1.84199 1.20837 0.806641 3.00279L2.84116 4.17546C3.47362 3.08484 4.65121 2.34783 6.00013 2.34783Z' fill='white'/%3E%3Cpath d='M8.31872 3.1803C8.47442 3.30855 8.70073 3.2993 8.84332 3.15668L9.95121 2.04879C10.113 1.88698 10.1015 1.62211 9.92864 1.47216C8.87126 0.554813 7.49548 0 6 0V2.34783C6.87961 2.34783 7.68762 2.66039 8.31872 3.1803Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='12' height='12' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A")
        center no-repeat;
      background-size: scaleVW(12, 1920) auto;

      @include media-breakpoint-down(lg) {
        background-size: 12px auto;
      }
    }

    &--google {
      background: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M11.5458 4.95727L6.6511 4.95703C6.43496 4.95703 6.25977 5.1322 6.25977 5.34834V6.91198C6.25977 7.12807 6.43496 7.30329 6.65108 7.30329H9.40746C9.10564 8.08659 8.54229 8.74259 7.82356 9.1594L8.99888 11.194C10.8842 10.1036 11.9989 8.19042 11.9989 6.04875C11.9989 5.7438 11.9764 5.52581 11.9314 5.28035C11.8973 5.09386 11.7354 4.95727 11.5458 4.95727Z' fill='black'/%3E%3Cpath d='M6.00013 9.65185C4.65121 9.65185 3.47362 8.91484 2.84116 7.82422L0.806641 8.99689C1.84199 10.7913 3.78154 11.9997 6.00013 11.9997C7.0885 11.9997 8.11546 11.7066 9.00013 11.196V11.1932L7.82481 9.15856C7.2872 9.47037 6.66508 9.65185 6.00013 9.65185Z' fill='black'/%3E%3Cpath d='M9 11.1976V11.1948L7.82468 9.16016C7.28707 9.47195 6.66499 9.65345 6 9.65345V12.0013C7.08837 12.0013 8.11538 11.7082 9 11.1976Z' fill='black'/%3E%3Cpath d='M2.34783 6.00112C2.34783 5.33622 2.52928 4.71416 2.84102 4.17658L0.806508 3.00391C0.293016 3.88579 0 4.90996 0 6.00112C0 7.09227 0.293016 8.11644 0.806508 8.99832L2.84102 7.82565C2.52928 7.28807 2.34783 6.66601 2.34783 6.00112Z' fill='black'/%3E%3Cpath d='M6.00013 2.34783C6.87977 2.34783 7.68775 2.66039 8.31885 3.1803C8.47455 3.30855 8.70084 3.2993 8.84345 3.15668L9.95134 2.04879C10.1132 1.88698 10.1016 1.62211 9.92877 1.47216C8.87139 0.554836 7.49561 0 6.00013 0C3.78154 0 1.84199 1.20837 0.806641 3.00279L2.84116 4.17546C3.47362 3.08484 4.65121 2.34783 6.00013 2.34783Z' fill='black'/%3E%3Cpath d='M8.31872 3.1803C8.47442 3.30855 8.70073 3.2993 8.84332 3.15668L9.95121 2.04879C10.113 1.88698 10.1015 1.62211 9.92864 1.47216C8.87126 0.554813 7.49548 0 6 0V2.34783C6.87961 2.34783 7.68762 2.66039 8.31872 3.1803Z' fill='black'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='12' height='12' fill='black'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A")
        center no-repeat;
      background-size: scaleVW(12, 1920) auto;

      @include media-breakpoint-down(lg) {
        background-size: 12px auto;
      }
    }

    &--yandex {
      background: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.7796 0H10.2221C7.63116 0 5.01674 1.91327 5.01674 6.18771C5.01674 8.40178 5.95509 10.1262 7.67522 11.1068L4.5269 16.8054C4.37763 17.0749 4.37373 17.3803 4.51643 17.6224C4.65575 17.8588 4.91053 18 5.19768 18H6.7903C7.15209 18 7.43418 17.8251 7.56947 17.5188L10.5214 11.745H10.7368V17.2804C10.7368 17.6705 11.066 18 11.4556 18H12.8469C13.2838 18 13.5889 17.6949 13.5889 17.2581V0.787605C13.589 0.323895 13.2562 0 12.7796 0ZM10.7368 9.18021H10.3568C8.88318 9.18021 8.00347 7.97738 8.00347 5.96261C8.00347 3.45741 9.11476 2.56482 10.1548 2.56482H10.7368V9.18021Z' fill='black'/%3E%3C/svg%3E%0A")
        center no-repeat;
      background-size: scaleVW(18, 1920) auto;

      @include media-breakpoint-down(lg) {
        background-size: 18px auto;
      }
    }

    &--more {
      background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 5V19' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M5 12H19' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A")
        center no-repeat;
      background-size: scaleVW(24, 1920) auto;

      @include media-breakpoint-down(lg) {
        background-size: 24px auto;
      }
    }

    &-remove {
      position: absolute;
      right: 0;
      bottom: 0;
      display: inline-block;
      width: 20px;
      height: 20px;
      background: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 3L3 9' stroke='black' stroke-width='1.4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M3 3L9 9' stroke='black' stroke-width='1.4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A")
        center no-repeat;
      background-color: #fff;
      background-size: scaleVW(12, 1920) auto;
      border: 1px solid $primary;
      border-radius: 40px;
      transition: $transition-base;

      @include media-breakpoint-down(lg) {
        background-size: 12px auto;
      }
    }
  }

  &--share {

    .socials__item {
      border-color: $primary;

      &:hover {
        border-color: rgba($primary, .5);
      }
    }
  }

  &--login {

    .socials__item {
      margin-right: scaleVW(4, 1920);
      width: scaleVW(56, 1920);
      height: scaleVW(56, 1920);
      background-color: $light-mint;
      border: none;
      border-radius: scaleVW(4, 1920);

      @include media-breakpoint-down(lg) {
        margin-right: 4px;
        width: 56px;
        height: 56px;
        border-radius: 4px;
      }

      &:hover {
        background-color: rgba($primary, .8);
      }
    }
  }

  &--accounts {

    .socials__item {
      position: relative;
      margin-right: scaleVW(16, 1920);
      width: scaleVW(56, 1920);
      height: scaleVW(56, 1920);
      background-color: #f2f2f2;
      border: none;

      @include media-breakpoint-down(lg) {
        margin-right: 16px;
        width: 56px;
        height: 56px;
      }

      @include media-breakpoint-down(sm) {
        width: 40px;
        height: 40px;
      }

      &:hover {
        background-color: $primary;

        .socials__item-remove {
          opacity: 1;
        }
      }

      .socials__item-remove {
        opacity: 0;
      }

      &--vk:hover {
        background-image: url("data:image/svg+xml,%3Csvg width='17' height='10' viewBox='0 0 17 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.6309 6.35846C15.1948 6.93074 15.79 7.46917 16.2958 8.09917C16.5192 8.37912 16.7307 8.66802 16.8925 8.99292C17.1218 9.45477 16.9142 9.96302 16.5157 9.9906L14.0391 9.98944C13.4004 10.0445 12.8908 9.77723 12.4624 9.32327C12.1195 8.96023 11.8019 8.57385 11.4722 8.19856C11.337 8.04517 11.1956 7.90084 11.0265 7.78675C10.6885 7.55864 10.395 7.62849 10.2018 7.99501C10.005 8.3678 9.96039 8.7806 9.94106 9.19607C9.91453 9.80226 9.73826 9.96163 9.15245 9.98938C7.90052 10.0507 6.71237 9.85387 5.60862 9.1974C4.63552 8.61867 3.88092 7.80167 3.22412 6.87674C1.94532 5.07571 0.966018 3.09667 0.0858558 1.06218C-0.112262 0.603809 0.032626 0.357757 0.519178 0.349048C1.32712 0.332734 2.13495 0.333895 2.94384 0.347887C3.27221 0.35288 3.4896 0.548653 3.61639 0.87111C4.05351 1.98833 4.58838 3.05127 5.25975 4.03652C5.43854 4.29883 5.62085 4.56114 5.88047 4.74576C6.16767 4.95019 6.38635 4.88243 6.52146 4.54987C6.6072 4.33901 6.64473 4.11188 6.66406 3.88603C6.72807 3.10903 6.7365 2.33337 6.62423 1.5591C6.55531 1.07588 6.29346 0.763063 5.82958 0.671621C5.59287 0.625 5.62812 0.533442 5.74273 0.392999C5.9418 0.150778 6.12902 0 6.50225 0H9.30119C9.74183 0.0903971 9.83969 0.296157 9.90001 0.757025L9.90241 3.98874C9.89761 4.16715 9.98815 4.69659 10.2973 4.81468C10.5447 4.89875 10.7078 4.69299 10.8563 4.5299C11.5265 3.79058 12.0047 2.91686 12.432 2.01213C12.6217 1.61432 12.7847 1.20117 12.9427 0.788377C13.0598 0.48206 13.2435 0.33134 13.5754 0.338017L16.2693 0.340513C16.3491 0.340513 16.43 0.341733 16.5073 0.355493C16.9612 0.435904 17.0856 0.638876 16.9454 1.09963C16.7245 1.82252 16.2947 2.42493 15.8745 3.03013C15.4252 3.67627 14.9448 4.30028 14.4993 4.95025C14.09 5.54378 14.1225 5.84295 14.6309 6.35846Z' fill='white'/%3E%3C/svg%3E%0A");
        background-size: scaleVW(17, 1920) auto;

        @include media-breakpoint-down(lg) {
          background-size: 17px auto;
        }
      }

      &--fb:hover {
        background-image: url("data:image/svg+xml,%3Csvg width='7' height='15' viewBox='0 0 7 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.67884 15H1.87228V7.5H0V4.91528L1.87228 4.91443L1.86924 3.3917C1.86924 1.28303 2.4402 0 4.92048 0H6.98549V2.58521H5.69493C4.72907 2.58521 4.68261 2.94639 4.68261 3.62063L4.67878 4.91443H7L6.72635 7.49915L4.68071 7.5L4.67884 15Z' fill='white'/%3E%3C/svg%3E");
        background-size: scaleVW(7, 1920) auto;

        @include media-breakpoint-down(lg) {
          background-size: 7px auto;
        }
      }

      &--yandex:hover {
        background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.7796 0H10.2221C7.63116 0 5.01674 1.91327 5.01674 6.18771C5.01674 8.40178 5.95509 10.1262 7.67522 11.1068L4.5269 16.8054C4.37763 17.0749 4.37373 17.3803 4.51643 17.6224C4.65575 17.8588 4.91053 18 5.19768 18H6.7903C7.15209 18 7.43418 17.8251 7.56947 17.5188L10.5214 11.745H10.7368V17.2804C10.7368 17.6705 11.066 18 11.4556 18H12.8469C13.2838 18 13.5889 17.6949 13.5889 17.2581V0.787605C13.589 0.323895 13.2562 0 12.7796 0ZM10.7368 9.18021H10.3568C8.88318 9.18021 8.00347 7.97738 8.00347 5.96261C8.00347 3.45741 9.11476 2.56482 10.1548 2.56482H10.7368V9.18021Z' fill='white'/%3E%3C/svg%3E");
        background-size: scaleVW(18, 1920) auto;

        @include media-breakpoint-down(lg) {
          background-size: 18px auto;
        }
      }

      &--google:hover {
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M11.5458 4.95727L6.6511 4.95703C6.43496 4.95703 6.25977 5.1322 6.25977 5.34834V6.91198C6.25977 7.12807 6.43496 7.30329 6.65108 7.30329H9.40746C9.10564 8.08659 8.54229 8.74259 7.82356 9.1594L8.99888 11.194C10.8842 10.1036 11.9989 8.19042 11.9989 6.04875C11.9989 5.7438 11.9764 5.52581 11.9314 5.28035C11.8973 5.09386 11.7354 4.95727 11.5458 4.95727Z' fill='white'/%3E%3Cpath d='M6.00013 9.65185C4.65121 9.65185 3.47362 8.91484 2.84116 7.82422L0.806641 8.99689C1.84199 10.7913 3.78154 11.9997 6.00013 11.9997C7.0885 11.9997 8.11546 11.7066 9.00013 11.196V11.1932L7.82481 9.15856C7.2872 9.47037 6.66508 9.65185 6.00013 9.65185Z' fill='white'/%3E%3Cpath d='M9 11.1976V11.1948L7.82468 9.16016C7.28707 9.47195 6.66499 9.65345 6 9.65345V12.0013C7.08837 12.0013 8.11538 11.7082 9 11.1976Z' fill='white'/%3E%3Cpath d='M2.34783 6.00112C2.34783 5.33622 2.52928 4.71416 2.84102 4.17658L0.806508 3.00391C0.293016 3.88579 0 4.90996 0 6.00112C0 7.09227 0.293016 8.11644 0.806508 8.99832L2.84102 7.82565C2.52928 7.28807 2.34783 6.66601 2.34783 6.00112Z' fill='white'/%3E%3Cpath d='M6.00013 2.34783C6.87977 2.34783 7.68775 2.66039 8.31885 3.1803C8.47455 3.30855 8.70084 3.2993 8.84345 3.15668L9.95134 2.04879C10.1132 1.88698 10.1016 1.62211 9.92877 1.47216C8.87139 0.554836 7.49561 0 6.00013 0C3.78154 0 1.84199 1.20837 0.806641 3.00279L2.84116 4.17546C3.47362 3.08484 4.65121 2.34783 6.00013 2.34783Z' fill='white'/%3E%3Cpath d='M8.31872 3.1803C8.47442 3.30855 8.70073 3.2993 8.84332 3.15668L9.95121 2.04879C10.113 1.88698 10.1015 1.62211 9.92864 1.47216C8.87126 0.554813 7.49548 0 6 0V2.34783C6.87961 2.34783 7.68762 2.66039 8.31872 3.1803Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='12' height='12' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
        background-size: scaleVW(12, 1920) auto;

        @include media-breakpoint-down(lg) {
          background-size: 12px auto;
        }
      }

      &--more:hover {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 5V19' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M5 12H19' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        background-size: scaleVW(24, 1920) auto;

        @include media-breakpoint-down(lg) {
          background-size: 24px auto;
        }
      }

      &--connected {
        position: relative;
        background-color: $primary;

        .socials__item-remove {
          opacity: 1;
        }

        &:hover {
          background-color: $primary;
        }
      }
    }
  }
}
