mixin switch(data)
  .switch&attributes(attributes)
    .custom-control.custom-checkbox
      input.custom-control-input(id='switch1' type="checkbox")
      label.custom-control-label(for='switch1')
        span.switch__item Все параметры
        span.switch__item Только различия
