mixin addition(data)
  .addition&attributes(attributes)
    .addition__title= data.title
    +card({
      picture: 'card-1.jpg',
      title: '<span class="font-weight-medium">Audiozen Lysios</span> – стерео- фонический усилитель мощности с необычными транзисторами'
    }).card--short
    +card({
      picture: 'card-8.jpg',
      title: '<span class="font-weight-medium">Marantz NR1711</span> — низкопрофильный ресивер с поддержкой 8K и полным набором форматов'
    }).card--short
    +card({
      picture: 'card-2.jpg',
      title: '<span class="font-weight-medium">Abbey Road в моей команте</span> – Как сделать дома студию звукозаписи  вместе с ROCKWOOL'
    }).card--short
    +card({
      picture: 'card-7.jpg',
      title: '<span class="font-weight-medium">Thöress EHT</span> — Новый гибридный моноблок, который оставляет дорогие лампы вне игры'
    }).card--short
