mixin front(data)
  .front&attributes(attributes)
    .container-fluid
      .front__slider
        +promo({
          picture: 'promo-1.jpg',
          title: 'Tannoy Prestige Kensington GR',
          comment: 'Эксклюзивно в Stereozona'
        })
        +promo({
          picture: 'promo-2.jpg',
          title: 'Sennheiser CX 150BT',
          comment: 'Встречайте лето с новым звуком'
        })
        +promo({
          picture: 'promo-3.jpg',
          title: 'Technics EAH-AZ70W',
          comment: 'Акция с 14 до 21 августа'
        })
        +promo({
          picture: 'promo-1.jpg',
          title: 'Tannoy Prestige Kensington GR',
          comment: 'Эксклюзивно в Stereozona'
        })
        +promo({
          picture: 'promo-2.jpg',
          title: 'Sennheiser CX 150BT',
          comment: 'Встречайте лето с новым звуком'
        })
        +promo({
          picture: 'promo-3.jpg',
          title: 'Technics EAH-AZ70W',
          comment: 'Акция с 14 до 21 августа'
        })
