.select {

  &:focus {
    outline: 0 !important;
  }

  &--brands {

    .select2-container--default .select2-selection--single {
      padding: scaleVW(15, 1920);
      border-top: 1px solid rgba($black, .1);
      border-bottom: 1px solid rgba($black, .1);

      @include media-breakpoint-down(sm) {
        padding: 15px 0;
      }
    }
  }
}
