mixin alphabet(data)
  .container-fluid.alphabet__container
    .alphabet&attributes(attributes)
      .alphabet__header Все бренды
      .alphabet__content
        .alphabet__letter
          a.alphabet__letter-btn(href="#") A
        .alphabet__letter
          a.alphabet__letter-btn(href="#") B
        .alphabet__letter
          a.alphabet__letter-btn(href="#") C
        .alphabet__letter
          a.alphabet__letter-btn(href="#") D
        .alphabet__letter
          a.alphabet__letter-btn(href="#") E
        .alphabet__letter
          a.alphabet__letter-btn(href="#") F
        .alphabet__letter
          a.alphabet__letter-btn(href="#") G
        .alphabet__letter
          a.alphabet__letter-btn(href="#") H
        .alphabet__letter
          a.alphabet__letter-btn(href="#") I
        .alphabet__letter
          a.alphabet__letter-btn(href="#" data-toggle="tooltip" title='<a class="alphabet__letter-brand" href="#">Jamo</a><a class="alphabet__letter-brand" href="#">JBL</a><a class="alphabet__letter-brand" href="#">JVC</a>') J
        .alphabet__letter
          a.alphabet__letter-btn(href="#") K
        .alphabet__letter
          a.alphabet__letter-btn(href="#") L
        .alphabet__letter
          a.alphabet__letter-btn(href="#") M
        .alphabet__letter
          a.alphabet__letter-btn(href="#") N 
        .alphabet__letter
          a.alphabet__letter-btn(href="#") O
        .alphabet__letter
          a.alphabet__letter-btn(href="#") P
        .alphabet__letter
          a.alphabet__letter-btn(href="#") Q
        .alphabet__letter
          a.alphabet__letter-btn(href="#") R
        .alphabet__letter
          a.alphabet__letter-btn(href="#" data-toggle="tooltip" title='<a class="alphabet__letter-brand" href="#">Sennheiser</a><a class="alphabet__letter-brand" href="#">Shanling</a><a class="alphabet__letter-brand" href="#">Shure</a><a class="alphabet__letter-brand" href="#">Sonance</a><a class="alphabet__letter-brand" href="#">Sonus Faber</a><a class="alphabet__letter-brand" href="#">Sony</a><a class="alphabet__letter-brand" href="#">Stax</a><a class="alphabet__letter-brand" href="#">Supravox</a><a class="alphabet__letter-brand" href="#">SVS</a>') S
        .alphabet__letter
          a.alphabet__letter-btn(href="#") T
        .alphabet__letter
          a.alphabet__letter-btn(href="#") U
        .alphabet__letter
          a.alphabet__letter-btn(href="#") V
        .alphabet__letter
          a.alphabet__letter-btn(href="#") W
        .alphabet__letter
          a.alphabet__letter-btn(href="#") X
        .alphabet__letter
          a.alphabet__letter-btn(href="#") Y
        .alphabet__letter
          a.alphabet__letter-btn(href="#") Z
