.other {
  margin-right: scaleVW(24, 1920);
  display: block;
  min-width: scaleVW(144, 1920);
  min-height: scaleVW(144, 1920);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: scaleVW(144, 1920) scaleVW(144, 1920);
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;

  @include media-breakpoint-down(sm) {
    margin-right: 8px;
    min-width: 96px;
    min-height: 96px;
    background-size: 96px 96px;
  }

  &:last-of-type {
    margin-right: 0;
  }
}
