mixin brand-preview(data)
  .brand-preview&attributes(attributes)
    a.brand-preview__logo(href="#")
      img(src="./img/brand-logo.png", alt)
    .brand-preview__info
      .brand-preview__country
        .brand-preview__country-flag
          img(src="./img/britain.png", alt)
          p.mb-0.ml-10 Великобритания
        p.mb-25 Bowers & Wilkins — это британский производитель Hi-Fi оборудования. Компания основана Джоном Бауэрсом, Питером Хейуордом и Роем Уилкинсом. Штаб-квартира компании расположена в Уэртинге, там же находится часть производства и учебный центр компании.
        a.btn.btn-secondary.btn-sm.brand-preview__btn(href="#") Подробнее о бренде
      .brand-preview__sections-list
        a.brand-preview__section(href="#") Напольные колонки
        a.brand-preview__section(href="#") Полочные колонки
        a.brand-preview__section(href="#") Центральные каналы
        a.brand-preview__section(href="#") Настенные колонки
        a.brand-preview__section(href="#") Сабвуферы
        a.brand-preview__section(href="#") Активные и беспроводные акустические системы
        a.brand-preview__section(href="#") Встраиваемые колонки
        a.brand-preview__section(href="#") Всепогодная и ландшафтная акустика
        a.brand-preview__section(href="#") Стойки для акустики
      a.btn.btn-secondary.btn-sm.brand-preview__btn(href="#") Все товары бренда
        
