mixin gallery(data)
  .gallery&attributes(attributes)
    .gallery__slider
      .gallery__slider-item
        img(src="./img/gallery-1.jpg", alt)
      .gallery__slider-item
        img(src="./img/gallery-2.jpg", alt)
      .gallery__slider-item
        img(src="./img/gallery-1.jpg", alt)
      .gallery__slider-item
        img(src="./img/gallery-2.jpg", alt)
      .gallery__slider-item
        img(src="./img/gallery-1.jpg", alt)
      .gallery__slider-item
        img(src="./img/gallery-2.jpg", alt)    
    .gallery__nav-container
      a.gallery__overview(href="#overview", data-fancybox data-no-swup data-src="#modalOverview" data-animation-effect="false" data-touch="false" data-modal="true") обзор
      .gallery__nav
        a.gallery__nav-item
          img(src="./img/gallery-1.jpg", alt)
        a.gallery__nav-item
          img(src="./img/gallery-2.jpg", alt)
        a.gallery__nav-item
          img(src="./img/gallery-1.jpg", alt)
        a.gallery__nav-item
          img(src="./img/gallery-2.jpg", alt)
        a.gallery__nav-item
          img(src="./img/gallery-1.jpg", alt)
        a.gallery__nav-item
          img(src="./img/gallery-2.jpg", alt)    
