extends ../templates/template.pug


block content
  .container-fluid
    .pt-15.pb-10.pt-md-30.pb-md-45
      +breadcrumbs({
        links: ['о компании']
      })
  .article
    .article__wrapper: .container-fluid
      .row
        .col-lg-6.col-xl-5
          .article__content
            h3 
              span.font-weight-bold В погоне за звуком 
              | — Как интерес всей жизни превратился в бизнес с принципами и человеческим лицом
            br
            p.font-weight-medium StereoZona – это объединение двух любителей музыки, имеющих за плечами многолетний опыт продажи, прослушивания и настройки огромного ассортимента аудио и видео техники. 
            br
            +picture({
              picture: 'about-1.jpg'
            }).picture--out.d-lg-none
            p.first-letter C каждым годом ситуация с продажей Hi-Fi и High-End аппаратуры становится всё печальнее. Количество интернет-магазинов увеличивается, а число реальных специалистов в области продажи высококачественной аудио и видео техники, напротив, уменьшается. Согласитесь, о каком профессионализме может идти речь, если в одном и том же магазине наряду с Hi-Fi, всё чаще, успешно продают инструменты, бытовую технику и прочие непрофильные товары?
            p Наши познания в сфере аудио и видео техники также не стоят на месте. Имея богатый опыт за плечами, мы стараемся продолжать развиваться, посещая выставки, семинары, обучения и конференции. Мы постоянно следим за свежими новостями, чтобы оставаться в курсе всех важнейших событий в сфере аудио и видео техники. Кроме этого, неотъемлемой частью нашего развития являются постоянные сравнительные прослушивания не только той аппаратуры, которая имеется у нас в наличии, но и той, которая отсутствует у нас даже на сайте и любезно предоставляется на тестирование официальными дистрибьюторами. Это позволяет нам повысить свою осведомлённость и качество наших консультаций за счет существенного расширения кругозора. 
            .row.pt-30
              .col-6
                .article__stats
                  .article__stats-header 5000
                  p.mb-0 товаров, представленныхв ассортименте
              .col-6
                .article__stats
                  .article__stats-header 94
                  p.mb-0 исключительных бренда
              .col-6
                .article__stats
                  .article__stats-header 30
                  p.mb-0 лет опыта работы в музыкальной сфее
              .col-6
                .article__stats
                  .article__stats-header 2
                  p.mb-0 друга, чтобы начать любимое дело
            +picture({
              picture: 'about-2.jpg'
            }).d-lg-none
            +picture({
              picture: 'about-3.jpg',
              dscr: 'Петербург остается музыкальной столицей России и мы очень гордимся, что родились и живем здесь'
            }).d-lg-none
            h4 Михаил
            p Увлечённый музыкой и техникой энтузиаст, проводящий практически всё своё свободное время в поисках чего-либо нового и интересного. Любитель зарубежных форумов и сайтов производителей, ещё не представленных на российском рынке. Частенько привозит себе новые аудио гаджеты ещё до того, как они официально появляются на российском рынке. Опыт работы Михаила в продаже и настройке аудио аппаратуры исчисляется не годами, а десятилетиями. Свою деятельность в области Hi-Fi Михаил начал ещё в середине 90-х годов. 
            p Обширные знания в области аудио техники прошлых лет делают Михаила полезным собеседником для тех, кто помнит звучание прошлого и ищет нечто похожее в настоящем. В области подбора стационарных Hi-Fi систем Михаил, порой, может быть чуть более консервативен, но в случае портативного аудио всё совершенно наоборот.
            +picture({
              picture: 'about-4.jpg'
            }).d-lg-none
            +picture({
              picture: 'about-5.jpg'
            }).d-lg-none
            +picture({
              picture: 'about-6.jpg'
            }).d-lg-none
            h4 Максим
            p Не менее увлечённый музыкой и техникой индивидуум, практически всё свободное (и не только свободное) время проводящий за прослушиванием музыки на работе, в машине, дома или в наушниках на прогулке. Являясь редактором Fresh Hi-Fi, Максим постоянно находится в поиске свежих новостей, которые, зачастую по знакомству поступают не только от официальных российских дистрибьюторов, но и напрямую от производителей аудио аппаратуры. 
            p Максим не понаслышке знает, что стоимость аппаратуры не всегда определяет качество звучания. Являясь ярко выраженным скептиком, отвергает «аудиофильскую магию» и верит лишь своим ушам – слышу – значит есть, не слышу – значит нет. Не консервативен и открыт всему самому современному и передовому. Испытывая тёплые чувства к проигрывателям винила и ламповым усилителям, с неменьшим интересом смотрит в сторону современных цифровых усилителей и прочей аппаратуры, официально не признанной «старообрядческой аудиофильской общественностью». В домашней аудио коллекции присутствуют не только виниловые пластинки и компакт диски, но и обширная база аудио файлов всех форматов.
            .article__footnote
              img(src="./img/logo.svg", alt)
        .col-lg-6.col-xl-7.d-none.d-lg-block
          +picture({
            picture: 'about-1.jpg'
          }).its-fade.js-observe
          .row.two-pics
            .col-lg-6.its-fade.js-observe
              +picture({
                picture: 'about-2.jpg'
              })
            .col-lg-6.its-fade.js-observe
              +picture({
                picture: 'about-3.jpg',
                dscr: 'Петербург остается музыкальной столицей России и мы очень гордимся, что родились и живем здесь'
              })
          +picture({
            picture: 'about-4.jpg'
          }).its-fade.js-observe
          .row.two-pics
            .col-lg-6.its-fade.js-observe
              +picture({
                picture: 'about-5.jpg'
              })
            .col-lg-6.its-fade.js-observe
              +picture({
                picture: 'about-6.jpg'
              })
    .article__next.its-fade.js-observe
      .container-fluid
        h3.mb-40 Статьи и обзоры
        .row.article__next-row
          .col-sm-6.col-lg-3
            +card({
              picture: 'card-1.jpg',
              title: '<span class="font-weight-medium">Audiozen Lysios</span> – стерео- фонический усилитель мощности с необычными транзисторами',
              date: '14 июня'
            })
          .col-sm-6.col-lg-3
            +card({
              picture: 'card-8.jpg',
              title: '<span class="font-weight-medium">Marantz NR1711</span> — низкопрофильный ресивер с поддержкой 8K и полным набором форматов',
              date: '12 июня'
            })
          .col-sm-6.col-lg-3
            +card({
              picture: 'card-2.jpg',
              title: '<span class="font-weight-medium">Abbey Road в моей команте</span> – Как сделать дома студию звукозаписи  вместе с ROCKWOOL',
              date: '14 июня'
            })
          .col-sm-6.col-lg-3
            +card({
              picture: 'card-7.jpg',
              title: '<span class="font-weight-medium">Thöress EHT</span> — Новый гибридный моноблок, который оставляет дорогие лампы вне игры',
              date: '12 июня'
            })
  

