extends ../templates/template.pug
block content
  .container.py-50
    h2.mb-20.pb-10.border-bottom Список страниц
    .row
      .col-md-4
        ul.pl-0
          li(style="list-style: none;")
            a.d-block.my-20(href="main.html", style="font-size: 20px;") Main
          li(style="list-style: none;")
            a.d-block.my-20(href="catalog.html", style="font-size: 20px;") Catalog
          li(style="list-style: none;")
            a.d-block.my-20(href="product.html", style="font-size: 20px;") Product
          li(style="list-style: none;")
            a.d-block.my-20(href="cart.html", style="font-size: 20px;") Cart
          li(style="list-style: none;")
            a.d-block.my-20(href="order.html", style="font-size: 20px;") Order
          li(style="list-style: none;")
            a.d-block.my-20(href="brands.html", style="font-size: 20px;") Brands
          li(style="list-style: none;")
            a.d-block.my-20(href="brand.html", style="font-size: 20px;") Brand
          li(style="list-style: none;")
            a.d-block.my-20(href="articles.html", style="font-size: 20px;") Articles
          li(style="list-style: none;")
            a.d-block.my-20(href="article.html", style="font-size: 20px;") Article
          li(style="list-style: none;")
            a.d-block.my-20(href="compare.html", style="font-size: 20px;") Compare
          li(style="list-style: none;")
            a.d-block.my-20(href="help.html", style="font-size: 20px;") Help
          li(style="list-style: none;")
            a.d-block.my-20(href="offers-1.html", style="font-size: 20px;") Offers-1
          li(style="list-style: none;")
            a.d-block.my-20(href="offers-2.html", style="font-size: 20px;") Offers-2
          li(style="list-style: none;")
            a.d-block.my-20(href="offers-3.html", style="font-size: 20px;") Offers-3
          li(style="list-style: none;")
            a.d-block.my-20(href="about.html", style="font-size: 20px;") About
          li(style="list-style: none;")
            a.d-block.my-20(href="offer.html", style="font-size: 20px;") Offer
          li(style="list-style: none;")
            a.d-block.my-20(href="404.html", style="font-size: 20px;") 404
          li(style="list-style: none;")
            a.d-block.my-20(href="text-page.html", style="font-size: 20px;") Text Page
          li(style="list-style: none;")
            a.d-block.my-20(href="profile.html", style="font-size: 20px;") Profile
          li(style="list-style: none;")
            a.d-block.my-20(href="profile-info.html", style="font-size: 20px;") Profile Info
          li(style="list-style: none;")
            a.d-block.my-20(href="profile-orders.html", style="font-size: 20px;") Profile Orders
          li(style="list-style: none;")
            a.d-block.my-20(href="profile-favorite.html", style="font-size: 20px;") Profile Favorite
          li(style="list-style: none;")
            a.d-block.my-20(href="profile-addresses.html", style="font-size: 20px;") Profile Addresses
          li(style="list-style: none;")
            a.d-block.my-20(href="profile-addresses-edit.html", style="font-size: 20px;") Profile Addresses Edit
          li(style="list-style: none;")
            a.d-block.my-20(href="profile-requisites.html", style="font-size: 20px;") Profile Requisites
          li(style="list-style: none;")
            a.d-block.my-20(href="profile-requisites-edit.html", style="font-size: 20px;") Profile Requisites Edit
