mixin question(data)
  .question&attributes(attributes)
    a.question__title(href="#" data-no-swup)= data.title
    .question__content
      p Не будем скрывать, что именно этот способ является наиболее приятным для нас, так как позволяет не терять лишних средств на комиссии банка за оплату картами. Вместо того, чтобы забрать сэкономленные проценты себе, мы готовы предоставить их Вам в качестве ещё одной дополнительной скидки, сделав тем самым наше предложение ещё более выгодным. 
      p При этом сама продажа остаётся полностью официальной, так как безусловно проходит по кассе с предоставлением Вам кассового чека. Если же этот способ подходит Вам, но посетить наш офис Вы не можете, то в зависимости от суммы заказа, мы готовы обсудить выезд к Вам вместе с кассовым аппаратом.
