mixin error(data)
  .error&attributes(attributes)
    .error__content
      h3.error__number 404
      h2.text-white Страница не найдена
      p.text-white.mb-0 Возможно вы перепутали адрес или кто-то переместил страницу. Воспользуйтесь каталогом или поиском в правом верхнему углу страницы.
