@font-face {
  font-family: 'TT Hoves';
  src: url('../fonts/subset-TTHoves-Regular.woff2') format('woff2'),
    url('../fonts/subset-TTHoves-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Micra';
  src: url('../fonts/subset-Micra.woff2') format('woff2'),
    url('../fonts/subset-Micra.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Hoves';
  src: url('../fonts/subset-TTHoves-Medium.woff2') format('woff2'),
    url('../fonts/subset-TTHoves-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
