mixin tooltip(data)
  span.tooltip&attributes(attributes)
    a.tooltip__trigger(href="#" data-no-swup data-container="body" data-toggle="popover" data-content="Подойдет, если предпочитаете самостоятельно планировать время и не любите зависеть от курьера.")
