mixin fancy-dates(data)
  .fancy-dates&attributes(attributes)
    .fancy-dates__wrapper
      .fancy-dates__item
        .h2= data.dateNumber1
        h4= data.dateText1
      .fancy-dates__item
        .h2= data.dateNumber2
        h4= data.dateText2
