mixin slider(data)
  .slider&attributes(attributes)
    +item({
      title: 'Усилитель Emotiva A-300',
      picture: 'item-1.png',
      price: '49 990₽'
    }).item--big
    +item({
      title: 'Акустика Dolby Atmos Wharfedale Diamond 300 Black Wood',
      picture: 'item-2.png',
      price: '16 290₽'
    }).item--big
    +item({
      title: 'CD-проигрыватель Marantz HD-CD1 Silver-Gold',
      picture: 'item-3.png',
      price: '54 990₽'
    }).item--big
    +item({
      title: 'Беспроводные наушники Dali IO-6 Iron Black',
      picture: 'item-4.png',
      price: '27 490₽'
    }).item--big
    +item({
      title: 'T+A SDV 3100 HV',
      picture: 'item-5.png',
      price: '2 552 100₽'
    }).item--big
    +item({
      title: 'Усилитель Emotiva A-300',
      picture: 'item-1.png',
      price: '49 990₽'
    }).item--big
    +item({
      title: 'Акустика Dolby Atmos Wharfedale Diamond 300 Black Wood',
      picture: 'item-2.png',
      price: '16 290₽'
    }).item--big
    +item({
      title: 'CD-проигрыватель Marantz HD-CD1 Silver-Gold',
      picture: 'item-3.png',
      price: '54 990₽'
    }).item--big
    +item({
      title: 'Беспроводные наушники Dali IO-6 Iron Black',
      picture: 'item-4.png',
      price: '27 490₽'
    }).item--big
    +item({
      title: 'T+A SDV 3100 HV',
      picture: 'item-5.png',
      price: '2 552 100₽'
    }).item--big
