
include ../blocks/header/header.pug
include ../blocks/logo/logo.pug
include ../blocks/live-logo/live-logo.pug
include ../blocks/promo/promo.pug
include ../blocks/catalog-section/catalog-section.pug
include ../blocks/front/front.pug
include ../blocks/alphabet/alphabet.pug
include ../blocks/exhibition/exhibition.pug
include ../blocks/item/item.pug
include ../blocks/section/section.pug
include ../blocks/card/card.pug
include ../blocks/footer/footer.pug
include ../blocks/socials/socials.pug
include ../blocks/slider/slider.pug
include ../blocks/menu/menu.pug
include ../blocks/popup/popup.pug
include ../blocks/catalog-list/catalog-list.pug
include ../blocks/breadcrumbs/breadcrumbs.pug
include ../blocks/promocode/promocode.pug

include ../blocks/dropdown/dropdown.pug
include ../blocks/dropdown/dropdown-catalog.pug
include ../blocks/catalog-filters/catalog-filters.pug
include ../blocks/catalog-filters/catalog-filters-modal.pug
include ../blocks/catalog/catalog.pug
include ../blocks/more/more.pug
include ../blocks/modal/modal.pug
include ../blocks/product/product.pug
include ../blocks/gallery/gallery.pug
include ../blocks/form/form.pug
include ../blocks/input/input.pug
include ../blocks/cart-item/cart-item.pug
include ../blocks/cart-feature/cart-feature.pug
include ../blocks/overall/overall.pug
include ../blocks/select/select.pug
include ../blocks/brand-letter/brand-letter.pug
include ../blocks/brand-preview/brand-preview.pug

include ../blocks/tag/tag.pug
include ../blocks/pagination/pagination.pug
include ../blocks/article/article.pug
include ../blocks/compare/compare.pug
include ../blocks/up/up.pug
include ../blocks/question/question.pug
include ../blocks/order/order.pug
include ../blocks/brand/brand.pug
include ../blocks/offer/offer.pug
include ../blocks/coupon/coupon.pug

include ../blocks/picture/picture.pug
include ../blocks/contacts/contacts.pug
include ../blocks/map/map.pug
include ../blocks/streetview/streetview.pug
include ../blocks/profile/profile.pug
include ../blocks/requisites/requisites.pug

include ../blocks/other/other.pug

include ../blocks/search/search.pug
include ../blocks/search/search-menu.pug
include ../blocks/drag/drag.pug

include ../blocks/error/error.pug
include ../blocks/subscribe/subscribe.pug
include ../blocks/checkbox/checkbox.pug
include ../blocks/checkbox/checkbox-catalog.pug
include ../blocks/payment/payment.pug
include ../blocks/tooltip/tooltip.pug
include ../blocks/cart/cart.pug
include ../blocks/option/option.pug

include ../blocks/brands/brands.pug
include ../blocks/catalog-page/catalog-page.pug
include ../blocks/addition/addition.pug
include ../blocks/switch/switch.pug
include ../blocks/help/help.pug
include ../blocks/fancy-dates/fancy-dates.pug
include ../blocks/badge/badge.pug
include ../blocks/order-item/order-item.pug